[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
pytest = "*"
ipython = "*"
sphinx = ">=1.3"
sphinx-rtd-theme = "*"
rope = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"

[packages]
bookman = {editable = true,path = "."}

[scripts]
test = "pytest"
doc = "make -C docs html"
hostdoc = "python -m http.server --directory docs/_build/html"
