[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.7"

[packages]
backcall = {editable = true,path = "."}
